{erl_opts, [debug_info]}.
{deps, [
    {jsx, "~> 3.1"},
    {cowboy, "2.17.0"},
    {telemetry, "1.3.0"},
    {gun, "2.4.1"},
    {oidcc, "3.7.2"}
]}.

{shell, [
    % {config, "config/sys.config"},
    {apps, [erlang_adk]}
]}.

{escript_name, "adk"}.
{escript_main_app, erlang_adk}.
{escript_incl_apps, [erlang_adk]}.
{escript_emu_args, "%%! -escript main adk_cli\n"}.

{plugins, [rebar3_hex]}.

{project_plugins, [rebar3_ex_doc]}.

{hex, [{doc, ex_doc}]}.

{ex_doc, [
    {source_url, <<"https://github.com/hsalap7/erlang_adk">>},
    {extras, [<<"README.md">>]},
    {main, <<"readme">>}
]}.

{dialyzer, [
    {plt_apps, all_deps},
    {plt_extra_apps, [mnesia]}
]}.
