[
 {kernel,
  [{logger_level, info},
   {logger,
    [{handler, default, logger_std_h,
      #{config => #{type => standard_io},
        formatter =>
         {logger_formatter,
          #{single_line => true,
            legacy_header => false}}}}]}]},
 {sasl, [{sasl_error_logger, false}]},
 {mnesia, [{dir, "/var/lib/erlang_adk/mnesia"}]},
 {erlang_adk,
  [%% Public transports are fail-closed. A deployment-owned config provider
   %% must opt in after defining authentication and a TLS boundary.
   {a2a_enabled, false},
   {a2a_v1_enabled, false},
   {http_health_enabled, false},
   {dev_enabled, false},
   {runtime_service_profile, disabled},
   {evaluation_service_enabled, false},
   {trace_store_enabled, false},
   {memory_outbox_enabled, false}]}
].
